:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --third-title-color: #212121;
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;
  --hover-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  width: 1600px;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  margin-top: 94px;
  margin-left: 215px;
  margin-right: 215px;
  padding: 0 15px 0 15px;
}

.header {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  margin-left: 215px;
  margin-right: 215px;
  padding: 0 15px 0 15px;
}

.list {
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
}
.web {
  font-family: 'Raleway', sans-serif;
  color: var(--hover-color);
}

.btn:hover,
.btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--hover-color);
}

/* -------------HEADER-------------- */

.header-home-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 24px;
}

.header-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
  padding-left: 50px;
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--hover-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contact-list {
  margin-right: 215px;
  padding-right: 15px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}

/* ---------HERO---------- */

.hero {
  background-color: #2f303a;
  height: 600px;
  margin-top: 0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  width: 696px;
  height: 120px;
  margin-left: 452px;
  margin-right: 452px;
  padding-top: 280px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 200px;
  margin-left: 700px;
  padding: 10px 25px;
  width: 200px;
  height: 50px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* ---------FEAUTERS----------- */

.feauters-item {
  width: 270px;
  margin-right: 30px;
}
.feauters-title {
  display: none;
}

.feauters-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-title-color);
  margin: 0 auto;
  padding-bottom: 10px;
}

.feauters-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin: 0 auto;
}

/* ----------KINDS OF WORK---------- */

.kinds-work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin: 0 auto;
}

.kinds-work-item {
  padding-right: 30px;
  margin-top: 50px;
}

/* ----------OUR TEAM---------- */

.our-team {
  background-color: #f5f4fa;
  width: 1600px;
  height: 648px;
  margin-top: 94px;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 50px;
}

.our-team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}

.our-team-list {
  margin-left: 215px;
  margin-right: 215px;
  margin-bottom: 94px;
}

.our-team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  text-align: center;
}

.our-team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: center;
}

/* --------FOOTER-------- */

.footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
}

.footer-home-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer-contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--hover-color);
}

/* ----------PROJECT-BUTTON---------- */

.project-button-title {
  display: none;
}

.project-button-item-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}

/* ---------PROJECT-LIST---------- */

.project-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--third-title-color);
}

.project-item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
